{% extends 'layout.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}

    <img class="d-block w-100" src="/images/movies-slide1.jpg" alt="Home picture">

    <section class="">
{#        {% include 'home/_carousel.html.twig' %}#}
    </section>

{% endblock %}
