{% extends 'layout.html.twig' %}

{% block body %}

    <img class="d-block w-100" src="/images/movies-slide1.jpg" alt="Home picture">

    <section class="">
{#        {% include 'home/' %}#}
    </section>

{% endblock %}
