<div style="background-color: lightgray; ">
    <div style="padding: 15px;">
        <h1 style="font-size: 25pt; ;color: #035388">{{ program.title }} est maintenant disponible !</h1>

        <p style="font-size: 16pt;">Venez la découvrir sur Wild Séries !</p>

        <a href="http://localhost:8000/program/{{ program.slug }}"
           style="text-decoration: none; font-size: 14pt; color:#035388;">Lien vers
            la série</a>
    </div>
</div>