{% extends 'base.html.twig' %}

{% block title %}Toutes les séries{% endblock %}

{% block body %}
    <div class="container">
        <h1>Toutes les séries : </h1>

        {% for program in programs %}
            <div>
                <a href="/wild/program/{{ program.title }}">
                    <h2>{{ program.title }} - ({{ program.category.name }})</h2>
                </a>
                <p>{{ program.summary }}</p>
            </div>
        {% else %}
            Aucune série trouvée.
        {% endfor %}
    </div>
{% endblock %}
