{% extends 'layout.html.twig' %}

{% block title %}Ajouter Acteur{% endblock %}

{% block body %}
    <h1 class="title">Create new Actor</h1>

    {{ include('actor/_form.html.twig') }}

    <a href="{{ path('actor_index') }}">
        <button class="btn btn-primary">Retour</button>
    </a>
{% endblock %}
