$primary: darken(#428bca, 20%);

$theme-colors: (
        "primary": #035388,
        "secondary": #418AB7,
        "thirdColor": #A9CDDD,
);

.logo {
  filter: invert(80%);
}

.navbar-nav li {
  display: flex;
  justify-content: space-around;
  font-size: 1.6em;
  margin-left: 50px;
}

a{
  text-decoration: none;
}

@import "~bootstrap/scss/bootstrap";
