@import 'vars';
@import 'navbar';
@import 'login';

*{
  font-family: 'Josefin Sans', sans-serif;
}

body {
  background-color: #5eb5e0;
}

.title {
  font-size: 3rem;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 50px;
}

p {
  font-size: 18pt;
}

a{
  text-decoration: none;
}

a:target, button:target, .nav-link {
  outline: 0;
}

.logo {
  filter: invert(80%);
}

.navbar-nav li {
  display: flex;
  justify-content: space-around;
  font-size: 1.6em;
  margin-left: 50px;
}



/* Carousel */

.title_carousel {
  margin-bottom: 10%;
  font-size: 3.5vw;
  color: var(--paragraphTitle);
  text-shadow: 0 0 10px var(--backgroundColorFooter);;
}

@import "~bootstrap/scss/bootstrap";
